body{
  background-color: #2A1494;
}
.dashboard{
  background-color: black;
}
#juego{
  background-color: black;
  position: absolute;
  width: 840px;
  height: 100%;
  background-image: url("../images/pista1.png");
  background-size:auto;
  background-repeat: repeat;
  background-position: 0px 0px;
}

.animacion-fondo {
    animation: parallax-background linear 1s infinite;
}

@keyframes parallax-background {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 650px;
    }
}
/*auto*/
#automovil {
    position: absolute;
    width: 50px;
    height: 101px;
    background-image: url("../images/auto.png");
    background-size: auto;
    background-repeat: no-repeat;
    bottom: 30px;
    left: 330px;
}

.izquierda {
    animation: mover-izquierda ease-out 0.01s;
    animation-fill-mode: forwards;
}

.derecha {
    animation: mover-derecha ease-out 0.01s;
    animation-fill-mode: forwards;
}

#rival{
  position: absolute;
  width: 50px;
  height: 101px;
  background-image: url("../images/auto.png");
  background-size: auto;
  background-repeat: no-repeat;
  bottom: 800px;
  left: 330px;
}

.explosion{
  display: none;
}

.mover-rival{
  animation: mover-rival ease-out 5s;
}

@keyframes mover-rival {
  from {
    bottom: 600px;
  }
  to {
    bottom: -150px;
  }
}

@keyframes mover-izquierda {
  25%{
    transform: rotate(-5deg)
  }
  50%{
    transform: rotate(-10deg)
  }
  75%{
    transform: rotate(-15deg)
  }
  100%{
    transform: rotate(-20deg);
  }
}

@keyframes mover-derecha {
  25%{
    transform: rotate(5deg)
  }
  50%{
    transform: rotate(10deg)
  }
  75%{
    transform: rotate(15deg)
  }
  100%{
    transform: rotate(20deg)
  }
}
