body{
  background-color: #0b2545;
}
footer{
  background-color: rgb(52, 58, 64);
  height: 100px;
  margin-top: 100px;
}
.dashboard{
  background-color: black;
}
#juego{
  background-color: black;
  position: absolute;
  border-radius: 10px;
  left:35px;
  width: 840px;
  height: 550px;
  background-image: url("../images/pista1.png");
  background-size:auto,auto;
  background-repeat: repeat,repeat;
  background-position: 0px 0px;
}

.animacion-fondo {
    animation: parallax-background linear 1s infinite;
}

@keyframes parallax-background {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 650px;
    }
}
/*auto*/
#automovil {
    position: absolute;
    width: 50px;
    height: 101px;
    background-image: url("../images/auto.png");
    background-size: auto;
    background-repeat: no-repeat;
    bottom: 30px;
    left: 330px;
}

.izquierda {
    animation: mover-izquierda ease-out 0.01s;
    animation-fill-mode: forwards;
}

.derecha {
    animation: mover-derecha ease-out 0.01s;
    animation-fill-mode: forwards;
}

#rival{
  position: absolute;
  width: 48px;
  height: 101px;
  background-image: url("../images/rival.png");
  background-size: auto;
  background-repeat: no-repeat;
  bottom: 800px;
  left: 330px;
}

#automovil.explosion{
  width: 90px;
  height: 96px;
  position: absolute;
  background: url("../images/explosion.png") 0 0;
  animation: explotar 1s steps(10) infinite;
}

@keyframes explotar {
    100% {
        background-position: -1000px 0;
    }
}

.mover-rival{
  animation: mover-rival ease-out 5s;
}

@keyframes mover-rival {
  from {
    bottom: 460px;
  }
  to {
    bottom: -75px;
  }
}

@keyframes mover-izquierda {
  25%{
    transform: rotate(-5deg)
  }
  50%{
    transform: rotate(-10deg)
  }
  75%{
    transform: rotate(-15deg)
  }
  100%{
    transform: rotate(-20deg);
  }
}

@keyframes mover-derecha {
  25%{
    transform: rotate(5deg)
  }
  50%{
    transform: rotate(10deg)
  }
  75%{
    transform: rotate(15deg)
  }
  100%{
    transform: rotate(20deg)
  }
}

.dropdown-item:hover{
  color: white;
}
.breadcrumb-a{
  color: white;
}
.breadcrumb-a:hover {
  color: grey;
}
