body{
  background-color: #0b2545;
  font-family: 'Source Sans Pro', sans-serif;
}
nav.navbar{
  background-color: #212121;
}
footer{
  background-color: #212121;
  height: 100px;
  margin-top: 40px;
}
.dropdown-item:hover{
  background-color: #212121;
  color:white;
}
.breadcrumb-a{
  color: white;
  text-decoration: none;
}
.breadcrumb-a:hover {
  color: grey;
  text-decoration: none;
}
.redes{
  color: white;
}
.redes:hover{
  color: grey;
}
.navbar a.navbar-brand:hover{
  color: grey;
}
.carousel .carousel-inner{
  border-radius: 6px;
  z-index: 1;
}
.mini-img-carousel{
  width: 100%;
  height: 100%;
  margin-right: 10px;
  margin-top: 5px;
}
.mini-carousel{
  margin-top: 5%;
}
.titulares{
  color:white;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 5px;
}
.columna-recomendados, .columnaResumen{
  background-color: #212121;
  border: 1px solid black;
  margin-top: 75px;
  margin-left:-20px;
  border-radius: 6px;
}
.columnaResumen{
  margin-top: 0px;
  color: white;
  padding: 20px;
}
.valoracion{
  position: absolute;
  top: 250px;
}
.btncarousel{
  color: grey;
}
.btncarousel:hover{
  color: white;
  text-decoration: none;
}
.mini-activo{
  color: white;
}
.flecha{
  color: white;
  margin-top: 60px;
}
.flecha:hover{
  cursor: pointer;
  color: grey;
}
.fa-star{
  color: yellow;
}
.img-recomendado{
  margin-top: 20px;
}
.pieoferta{
  background-color: black;
  width: 200px;
  margin-top: 5px;
  font-size: 16px;
  color: white;
}
.precioanterior{
  text-decoration: line-through;
  padding: 20px;
}
.precioactual{
  text-align: center;
  padding: 15px;
}
.descuento{
  text-align: right;
  padding: 15px;
}
.tabla-juegos{
  margin-top: 15px;
}
.img-tabla{
  height: 50px;
  width: 100px;
}
.titulojuego-tabla{
  color: white;
}
.preciotabla{
  position: relative;
  top: 10px;
  font-size: 20px;
}
.tabla-juegos tbody tr:hover{
  background-color: grey;
  cursor: pointer;
}
.flechaabajo{
  color: white;
  margin-top: -60px;
}
.flechaabajo:hover{
  color: grey;
  cursor: pointer;
}
.login{
  margin-top:10px;
  margin-left:38px;
}
.navbar-brand{
  font-size:24px;
}
.derechos{
  color:white;
  margin-top:10px;
}
.labeltiempojugado{
  color:white;
}
.breadcrumb{
  background-color:inherit;
}
.accionesprincipales{
  background-color:#212121;
  height:70px;
  margin-top:30px;
  border-radius:6px;
  border: 1px solid black;
}
.btn-accionjuego{
  position: absolute;
  top:240px;
  right: 25px;
  font-size: 18px;
}
.titular-juego{
  color: white;
  margin-top: -10px;
  font-size: 26px;
}
